* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    height: 800px;

    border: solid black 2px;
    border-radius: 10px;

    margin: 70px auto;
}

.container_inner {
    border: solid black 2px;
    margin: 40px;
}

.items_field {
    border: solid black 2px;
    margin: 20px;
}

.title {
    font-size: 70px;
    font-weight: 900;
}

.item {
    display: flex;
}

.item_name {
    margin-left: 25px;
}

.item_inner {
    width: 120px;
    height: 120px;
    
    background-color: #fcf2f0;

    border: solid black 4px;
    border-radius: 10px;
}






























.result_field{
    border: black solid 2px;
    margin: 20px;
}