*{
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;

    width: 1200px;
    height: 100vh;

    border: solid black 2px;
    background-color: lightyellow;
}

.display {
    width: 950px;
    height: 350px;

    margin: 0 auto;

    border: solid black 2px;
    background-color: lightyellow;
}

.player_field {
    display: flex;
    justify-content: space-between;

    border: solid blue 2px;
}

.player {
    height: 300px;

    border: solid black 4px;
}

.items_field {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;
    
    margin-left: 25px;
    background-color: #fcf2f0;
    border: solid black 4px;
    border-radius: 10px;
}

.piska {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px;
    
    margin-left: 25px;
    background-color: #fcf2f0;
    border: solid black 4px;
    border-radius: 10px;
}

.item:last-child {
    margin-right: 25px;
}

.item:hover {
    border: solid #7792ad 4px;
}

.item_field_name {
    display: flex;
    justify-content: center;

    width: 120px;
    
    margin-left: 25px;
    margin-top: 10px;
}

.item_field_name:last-child {
    margin-right: 25px;
}

h2 {
    font-size: 20px;
}

































































/* * {
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    height: 100vh;

    margin: 0 auto;
    border: solid black 2px;
}
.display {
    width: 85%;
    height: 300px;
    margin: 50px auto;

    border: solid black 2px;
    border-radius: 30px;

}

/* Player */
/*
.player {
    display: flex;
    justify-content: space-between;

    border: blue solid 2px;
}

.player_field {
    width: 500px;
    height: 300px;
    background-color: lightslategray;
}

.player_one {
    display: flex;
    align-items: center;
    justify-content: center;

}

.player_item {
    width: 120px;
    height: 120px;
    
    border-radius: 10px;
    border: solid black 4px;

    align-items: center;
    justify-items: center;
} */