.main {

}

.position {
    background-color: aqua;
    position: relative;
    width: 400px;
    height: 550px;
    margin: 70px 0 50px 70px ;
}

.box1 {
    background-color: green;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
}

.box2 {
    width: 60px;
    height: 60px;
    background-color: black;
    position: absolute;
    left: -10px;
    top: -10px;
}

.felxbox {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}

.flexbox1 {
    width: 250px;
    height: 100px;
    background-color: orange;
}

.flexbox2 {
    width: 250px;
    height: 100px;
    background-color: green;
}

.flexbox3 {
    width: 250px;
    height: 100px;
    background-color: green;
}