* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    height: 800px;
    width: 700px;

    margin: 20px auto 0;
    background-color: blanchedalmond;
    border-radius: 30px;
}

.inner {
    padding: 10px 80px 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 70px;
    font-weight: 900;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 70px 0;
}

.item {
    margin-left: 50px;
}

.item:first-child {
    margin-left: 0;
}

.picture {
    width: 150px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fcf2f0;
    border: solid black 2px;
    border-radius: 10px;
}

.picture:hover {
    border: solid black 5px;
}

.description {
    font-size: 25px;
    font-weight: 900;
    margin-top: 10px;
    text-align: center;
}

.player_item_inner {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin-left: 14px;

    border:solid black 2px;
    border-radius: 10px;
    background-color: #fcf2f0;
}

.player, .bot {
    display: flex;
    align-items: center;
    border-top: solid black 2px;
    height: 50px;
}

.bot {
    border-bottom: solid black 2px;
}

.result {
    width: 100%;
    margin-top: 40px;

    font-size: 70px;
    font-weight: 900;
    text-align: center;
}

.player_item, .bot_item {
    display: flex;
    align-items: center;
}

.nameOfThePlayer {
    width: 85px;
}
 
